p{
    color: rgb(0, 0, 0);
}

#contenedor{
    background-color: #fff8f0;
    font: 'Times New Roman', serif;
    font-size: 16px;
    
}
.encabezado{
    font:'Georgia', serif;
    font-size: 36px;
    height: 100px;
    color: #3e2310;
    text-align: center;
    background-image: url(/imgs/guesteaus.png) ;
    background-size: auto;
    background-position: center;

}
